.list-item {
    margin: $spacingS 0 $spacingS calc(#{$spacingS} + 15px);
    position: relative;
    cursor: pointer;
    color: $darkGray;
    transition: all 200ms ease-in-out;

    &:hover {
        transform: scale(1.02);
    }

    &::before {
        content: '';
        position: absolute;
        left: -15px;
        top: 50%;
        width: 5px;
        height: 1px;
        background-color: $midGray;
    }
}