.summary {
    margin: $wrapperSpacing;
    position: relative;
    height: calc(100vh - #{$headerHeight});

    &__options {
        height: 100%;
        width: 25%;
        position: absolute;
        left: 0;
        top: $headerHeight;
        padding: $spacingR;
        box-sizing: border-box;
        background-color: $lightGray;
        overflow: auto;
        direction: rtl;

        &--aesthetical {
            width: 5%;
            position: absolute;
            right: 0;
            left: unset;
        }
    }

    &__loader {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__airplane {
        position: absolute;
        left: 25%;
        top: $headerHeight;
        width: 70%;
        height: calc(100vh - #{$headerHeight});

        img {
            width: 100%;
            height: 100%;
            background-position: center;
            background-clip: content-box;
            background-size: cover;
        }

        &--name {
            font-size: $fontSizeS;
            color: rgb(163, 162, 167);
        }
    }

    &__selected {
        position: absolute;
        top: 5px;
        left: 10px;
        font-size: $fontSizeM;
        z-index: 2;
        font-family: $fontFamilyHeader;
        font-weight: 400;
        color: $lightBlue;
        pointer-events: none;
        background-color: rgba($white, .8);
        padding: 10px;
        border-radius: 10px;
    }

    .TransformComponent-module_container__3NwNd,
    .TransformComponent-module_content__TZU5O {
        height: 100%;
        width: 100%;
    }

    &__option {
        direction: initial;
    }

    &__data {
        color: $darkBlue;
        font-weight: 500;
    }

    &__subtitle {
        font-size: $fontSizeR;
        margin-left: $spacingS;
        font-weight: 400;

        &--container {
            color: $midGray;
            display: flex;
            position: relative;
            align-items: center;
            margin-top: 0;
        }
    }


    .underline {
        height: 1px;
        width: 80%;
        background-color: $midGray;
        position: absolute;
        bottom: 0;
    }

    .button--order {
        margin-top: $spacingR;
        margin-bottom: $spacingM;
    }
}

@media only screen and (max-width: 1024px) {
    .summary {
        margin: 0;

        &__options {
            top: $headerHeight;
            height: calc(100vh - $headerHeight);
            width: 30%;
        }

        &__options--aesthetical {
            display: none;
        }

        &__airplane {
            top: $headerHeight;
            left: 30%;
            height: calc(100vh - $headerHeight);
        }
    }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .summary {
        margin: 0;

        &__options {
            top: $headerHeight;
            height: calc(100vh - $headerHeight);
            width: 30%;
        }

        &__options--aesthetical {
            display: none;
        }

        &__airplane {
            top: $headerHeight;
            left: 30%;
            height: calc(100vh - $headerHeight);
        }

        &__selected {
            top: 30px;
            left: 40px;
            font-size: 2.2rem;
        }
    }
}

@media only screen and (max-width: 830px) and (orientation: landscape) {
    .summary {
        &__options {
            top: 70px;
            height: calc(100vh - 70px);
        }

        &__airplane {
            top: 70px;
            height: calc(100vh - 70px);
        }
    }
}

@media only screen and (max-width: 420px) {
    .summary {
        margin: 0;

        &__options {
            height: 140px;
            width: 100%;
            top: $headerHeight;
            padding: 20px 20px 0 20px;
            direction: initial;
            display: flex;
        }

        &__option {
            z-index: 2;
            padding-right: 30px;
        }

        .button--order {
            z-index: 2;
            position: fixed;
            top: 170px;
            left: calc(50% - 75px);
            margin: 0;
            width: 150px !important;
        }

        &__subtitle,
        .underline,
        &__options--aesthetical {
            display: none;
        }

        &__subtitle--container {
            margin-bottom: 0;
        }

        &__data {
            width: max-content;
            margin: 5px 0;
        }

        &__airplane {
            top: 230px;
            height: calc(100vh - 230px);
            left: 0;
            width: 100%;
        }

        &__selected {
            top: 0;
            left: 0;
            font-size: 1rem;
        }
    }
}
