.summary {
    margin: $wrapperSpacing;
    position: relative;
    height: calc(100vh - #{$headerHeight});

    &__options {
        height: 100%;
        width: 20%;
        position: absolute;
        left: 0;
        padding: $spacingR;
        box-sizing: border-box;
        background-color: $lightGray;

        &--aesthetical {
            width: 5%;
            position: absolute;
            right: 0;
            left: unset;
        }
    }

    &__airplane {
        position: absolute;
        left: 20%;
        width: 75%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            background-position: center;
            background-clip: content-box;
            background-size: cover;
        }
    }
}