.logo {
    display: flex;
    width: 200px;
    height: 100%;
    align-items: center;

    &__text {
        font-family: $fontFamilyHeader;
        font-size: $fontSizeL;
        color: $darkBlue;
        margin-left: $spacingS;
    }
}