.logo {
    display: flex;
    width: 200px;
    height: 100%;
    align-items: center;
    cursor: pointer;
    
    img {
        width: 50px;
        height: auto;
    }

    &__text {
        font-family: $fontFamilyHeader;
        font-size: $fontSizeL;
        color: $darkBlue;
        margin-left: 15px;
        font-weight: 500;
    }
}

@media only screen and (max-width: 830px) and (orientation: landscape) {
    .logo img {
        width: 35px;
    }
}