.header {
    padding: $wrapperSpacing;
    height: $headerHeight;
    box-shadow: $mainShadow;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;

    &__loginBtn {
        z-index: 7;
        display: inline-block;
        background-color: $darkBlue;
        color: $white;
        height: 100%;
        padding: 0 $spacingM;
        font-family: $fontFamilyMain;
        font-size: $fontSizeM;
        transition: all 200ms ease-in-out;
        position: relative;
        outline: none;
        border: none;
    }

    &__icon {
        position: absolute;
        bottom: 14px;
        right: 100%;
        transition: all 500ms ease-in-out;

        &--center {
            animation: airplaneIncomming 200ms ease-in-out forwards;
        }

        &--right {
            animation: airplaneEscaping 200ms ease-in-out forwards;
        }
    }
}

.box {
    &--opened {
        border-radius: $loginBoxOpenedRadius;
    }

    &--closed {
        border-radius: $mainRadius;
    }
}

.login-box {
    background-color: $darkBlue;
    border-radius: $loginBoxRadius;
    position: absolute;
    top: $headerHeight;
    right: 8%;
    z-index: 5;
    transition: all 200ms ease-in-out;

    &__content {
        display: flex;
        flex-direction: column;
        padding: 60px;
    }

    &__input {
        border-radius: $smallRadius;
        border: 2px solid $lightBlue;
        width: 240px;
        height: 40px;
        margin-top: $spacingR;
        padding: 0 $spacingS;
        font-family: $fontFamilyMain;

        &:first-of-type {
            margin-top: 40px;
        }
    }

    &__header {
        color: $lightBlue;
        font-family: $fontFamilyHeader;
        font-size: 2.8rem;
        font-weight: 500;
        margin: 0 0 0 25px;
    }
}

.login-box .login-box__button {
    margin-top: $spacingM;
    border: 2px solid $white;
}

.appear {
    &-enter {
        opacity: 0;
    }

    &-enter-active {
        opacity: 1;
    }

    &-leave {
        opacity: 1;
    }

    &-leave-active {
        opacity: 0;
    }
}

@keyframes airplaneIncomming {
    0% {
        right: 100%
    }

    100% {
        right: calc(50% - 10px)
    }
}

@keyframes airplaneEscaping {
    0% {
        right: calc(50% - 10px)
    }

    100% {
        right: -20px;
    }
}

@media only screen and (max-width: 1024px) {
    .header {
        padding: 0 4%;
    }

    .login-box {
        right: 4%;
    }
}

@media only screen and (max-width: 820px) {
    .header {
        padding: 0 0 0 4%;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        box-sizing: border-box;

        &__loginBtn {
            padding: 0 30px;
            border-radius: 0;
            font-size: 1rem;
        }

    }

    .login-box {
        position: fixed;
        right: 0;
        width: 100%;

        &__button.button {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 830px) and (orientation: landscape) {
    .header {
        height: 70px;
        position: absolute;
    }

    .login-box {
        top: 70px;
        position: absolute;
        border-radius: 0 0 20px 20px;

        &__content {
            padding: 20px 30%;
            align-items: center;
        }

        &__image,
        &__header {
            display: none;
        }

        &__input {
            margin-top: 15px;
            width: 100%;

            &:first-of-type {
                margin-top: 20px;
            }
        }
    }
}