@import './settings.scss';
@import './components/MainPage/MainPage.style.scss';
@import './components/Header/Header.style.scss';
@import './components/Logo/Logo.style.scss';
@import './components/CustomSelect/CustomSelect.style.scss';
@import './components/CustomSelect/ListItem.style.scss';

// global
body {
  margin: 0;
  padding: 0;
  font-family: $fontFamilyMain;
}

button {
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

.flexContainer {
  display: flex;
  align-items: center;
}