// colors
$white: #fff;
$lightBlue: #4392F1;
$darkBlue: #12345C;
$lightGray: #F6F6F6;
$darkGray: #333138;

// radius
$mainRadius: 15px 40px 15px 40px;
$loginBoxRadius: 20px 0 20px 40px;
$loginRadius: 20px 40px 0 0;

// font sizes
$fontSizeXL: 3rem;
$fontSizeL: 2rem;
$fontSizeM: 1.2rem;
$fontSizeS: 10px;

// font families
$fontFamilyHeader: 'Squada One', cursive;
$fontFamilyMain: 'Tajawal', sans-serif;

// sizes
$headerHeight: 100px;

// spacing
$wrapperPadding: 0 8%;
$spacingXL: 100px;
$spacingL: 75px;
$spacingM: 50px;
$spacingS: 10px;

// shadows
$mainShadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);